<p id="notice"><%= notice %></p>

<h1 class="titre-principal">Restaurants</h1>

<table>
  <thead>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css" integrity="sha384-PDle/QlgIONtM1aqA2Qemk5gPOE7wFq8+Em+G/hmo5Iq0CCmYZLv3fVRDJ4MMwEA" crossorigin="anonymous">
    <tr class="entete table-bordered">
      <th>Name</th>
      <th>Address</th>
      <th>Phone number</th>
      <th>Reviews</th>
      <th>Category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody  class="table table-bordered">
    <% @restaurants.each do |restaurant| %>
      <tr>
        <td><%= restaurant.name %></td>
        <td><%= restaurant.address %></td>
        <td><%= restaurant.phone_number %></td>
        <td><% restaurant.reviews.each do |review| %>
          <%= review.content %>
          <% end %></td>
        <td><%= restaurant.category %></td>
        <td><%= link_to 'Show', restaurant %></td>
        <td><%= link_to 'Edit', edit_restaurant_path(restaurant) %></td>
        <td><%= link_to 'Destroy', restaurant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Restaurant', new_restaurant_path, :class => "btn btn-primary" %>
